.App {
  display: flex;
  flex-direction: row;
  background-color: rgb(236, 236, 229, .55);
  max-width: 600px;
  margin: 100px auto; 
  border: 1px solid rgb(236, 236, 229);
  border-radius: 5px;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.scroll-container {
  margin-right: 50px;
  border: 2px solid black;
}


.button {
  border-radius: 10px;
  height: 40px;
  width: 90px;
}

.poke-img-container {
  display: flex;
  flex-direction: row;
}

.shiny-img-container {
  display: flex;  
  flex-direction: column;
}

.normal-img-container {
  display: flex;
  flex-direction: column;
}

.poke-img {
  height: 200px;
  width: 200px;
}

.shiny-default-text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}