.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.button {
  border-radius: 10px;
  height: 40px;
  width: 90px;
}

.poke-img-container {
  display: flex;
  flex-direction: row;
}

.shiny-img {
  display: flex;  
  flex-direction: column;
}

.normal-img {
  display: flex;
  flex-direction: column;
}