.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgb(236, 236, 229);
  max-width: 600px;
  margin: 100px auto; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.button {
  border-radius: 10px;
  height: 40px;
  width: 90px;
}

.poke-img-container {
  display: flex;
  flex-direction: row;
}

.shiny-img-container {
  display: flex;  
  flex-direction: column;
}

.normal-img-container {
  display: flex;
  flex-direction: column;
}

.poke-img {
  height: 200px;
  width: 200px;
}

.shiny-default-text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}